.sidebar-container {
    height: 100%;
    width: 80%;
    margin-left: 2%;
}

.sidebar-content {
    height: 100%;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    transition: max-width 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content.hidden {
    max-width: 0;

}

.sidebar-container .title h1{
    font-size: calc(1vw + 1.2vh);
}

.menu-icon {
    padding: 1rem;
    font-size: 2rem;
}


@media (min-width: 800px) {
    .sidebar-container {
        width: 20%;
        height: 90%;
    }

    .menu-icon {
        display: none;
    }
}