.dashboard-container {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.dashboard-container.dark {
    background-color: #121212;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

@media (min-width: 800px) {
    .dashboard-container {
        height: 90%;
        width: 90%;
        border-radius: 24px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}